.card {
  border: none;
}

.form-label {
  font-weight: bold;
}

.btn-primary,
.btn-danger {
  width: 48%;
}
.reserva-card {
  border-left: 5px solid #007bff;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.reserva-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card-title {
  font-size: 1.25rem;
}
.card-text small {
  display: block;
  margin-bottom: 0.5rem;
}
.pagination .page-link {
  color: #007bff;
}
.pagination .page-item.active .page-link {
  background-color: #62aeff3d;
  border-color: #007bff;
}
