.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
.thead-dark th {
  background-color: #343a40;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
}
tbody tr td {
  vertical-align: middle;
}
.table td,
.table th {
  padding: 1rem;
}
.btn-primary {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}
.pagination .page-link {
  color: #007bff;
  font-size: 1.1rem;
}
.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
